@import 'utility/colour';

.toastie {
    display: block;
    background: $toastie-background;
	border-radius: 4px;
    position: fixed;
	margin: 0 auto;
    animation-duration: 0.5s;
    animation-name: toastie-in;

    .toastie-text {
        display: block;
        padding: 1.2em 1.5em;
        line-height: 1.3em;
        color: $toastie-text;
        font-family: sans-serif;
    }
}

.toastie.toastie-leaving {
    animation-duration: 0.5s;
    animation-name: toastie-out;
    animation-fill-mode: forwards;
}

.toastie-no-margin {
	border-radius: unset;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}

.toastie-margin {
    width: calc(100% - 2em);
    bottom: 1em;
    right: 1em;
    left: 1em;
}

.toastie-left {
	right: unset;
}

.toastie-right {
	left: unset;
}

@keyframes toastie-in {
    0% {
        margin-bottom: -20px;
        opacity: 0;
    }

    100% {
        margin-bottom: 0;
        opacity: 1;
    }
}

@keyframes toastie-out {
    0% {
        margin-bottom: 0;
        opacity: 1;
    }

    100% {
        margin-bottom: -20px;
        opacity: 0;
    }
}

@media only screen and (min-width: 472px) {
	.toastie {
		width: unset;
		max-width: 472px;
	}
}
